@tailwind base;
@tailwind components;
@tailwind utilities;


@media screen and (max-width: 600px){
    .image {
        margin: 85px 12px !important;
    }

    .head {
        font-size: 30px !important;
    }
    .para {
        font-size: 20px !important;
    }
    .dashboard {
        margin-top: 40px;
    }
    
}
